<div class="card">
  <div class="card-img-wrapper">
    <img class="card-img-top propImg" src="assets/images/house-default.png">
    <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-sm btn-primary" routerLink="/property-details/{{property.Id}}"><i class="fas fa-edit"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-sm btn-primary"><i class="far fa-address-book"></i></button>
      </li>
    </ul>
  </div>
  <div class="card-body p-2">
    <h1>{{property.Type}}</h1>
    <h2>{{property.Name}}</h2>
    <h3>{{property.Price}}</h3>
  </div>
</div>

